.input {
  margin-bottom: 8px;
  padding: 8px;
  font-size: 14px;
  background-color: #FFECB3;
  color: #EF5350;
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: 'Lato', sans-serif;

  &::placeholder {
    color: #E57373;
  }
}
