.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  padding: 0 8px;
  width: calc(100% - 16px);
}

@media(min-width: 550px) {
  .container {
    padding: 0 16px;
    width: calc(100% - 32px);
    max-width: 700px;
  }
}
