.input {
  width: 100%;
  height: 16px;
  padding: 16px;
  font-size: 22px;
  color: var(--light-primary-color);
  background-color: var(--accent-color);
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: 'Comfortaa', cursive;

  &::placeholder {
    color: var(--light-primary-color);
  }
}
