.card {
  display: flex;
  padding: 0;
  overflow: scroll;
}

.item {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 16px;
}

.button {
  color: lightgrey;
  cursor: pointer;
}
